/*========================================= 
Comment layouts
=========================================*/


div.wrap {
	text-align: center;
}

div.pagesize {
	width: 889px;
	margin: 0 auto;
	text-align: left;
}
	
div.module-box {
	width: 100%;
}

div.module-box div.inner {
	padding: 10px 24px;
}

div.three-boxes {
	float: left;
	width: 33.3%;
}

div.vernav {
	margin: 0;
}

div.vernav ul {
	margin: 0;
	padding: 0;
}

div.vernav li {
	list-style-type: none;
	margin: 0 10px 0 0;
	padding: 0;
}

div.vernav ul li, div.vernav ul li a, div.vernav ul li, div.vernav ul li a span {
	float: left;
	display: block;
}


/*========================================= 
 Layout
=========================================*/

#pagetop {
	color: #fff;	
	background: #1b1c1c url(../images/bg.jpg) left top;
	padding-bottom: 20px;
}

#pagetop-inner {
	background:  url(../images/car.jpg) 550px 130px   no-repeat;
	width:950px;margin:0 auto;
	color: #fff;
	
}


#header, #mainnav, #content, #pagebot, #footer {
	width: 767px;
	margin: 0 auto;
}

#header {
	margin-bottom: 22px;
}

#logo {
	float: left;
	margin: 0;
}

#logo a {
	text-indent: -6000px;
	width: 172px;
	height: 59px;
	display: block;
	float: left;
	background: url(../images/logo.jpg) left top no-repeat;	
}

#mainnav ul li {
	margin-right: 10px;
}

#mainnav ul li a {
	background: url(../images/nav-but-l.gif) left top no-repeat;
}

#mainnav ul li a span {
	font-family: Arial;
	font-size: 11px;
	background: url(../images/nav-but-r.gif) right top no-repeat;
	color: #989898;
	padding: 2px 9px 15px 9px;
}

#mainnav ul li a:hover span {
	color: #fff;
}

#but-green {
	background: url(../images/but-green-l.gif) left top no-repeat;
	margin: 31px 92px 0 0;
	display: block;
	float: right;
}

#but-green span {
	background: url(../images/but-green-r.gif) right top no-repeat;
	height: 40px;
	line-height: 25px;
	text-indent: 15px;
	display: block;
	float: left;
	font-family: Arial;
	padding-right: 20px;
	color: #fff;
	font-size: 11px;
}

#label {
	width: 430px;
	height: 71px;
	text-indent: -5000px;
	background: url(../images/label.gif) left top no-repeat;
	margin-bottom: 49px;
}

#content-inner {
	width: 461px;
}

a.but-grey {
	display: block;
	float: left;
	background: url(../images/but-grey-l.gif) left top no-repeat;
	margin-right: 27px;
	margin-top: 15px;
}

a.but-grey span {
	display: block;
	float: left;
	padding-right: 20px;
	height: 24px;
	background: url(../images/but-grey-r.gif) right top no-repeat;
	font-family: Arial;
	font-size: 11px;
	color: #fff;
	text-indent: 15px;
	line-height: 24px;
}

div.box {
	float: left;
	width: 218px;
	margin-right: 56px;
}

div.box-last {
	margin: 0;
}

img.img {
	border: solid 3px #cccccc;
}

#pagebot {
	padding-top: 40px;
}

#pagebot h2 {
	font-size: 18px;
	font-family: "Trebuchet MS";
	color: #000;
	margin-bottom: 24px;
}

#footer {
	text-align: center;
	margin-top: 20px;
	font-size: 11px;
	color: #000;
}

a.title {
	font-size: 13px;
	font-weight: bold;
}

/* RESET BROWSER STYLES */

* { margin: 0pt; padding: 0pt; }

blockquote, q { quotes: "" ""; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

caption, th, td { font-weight: normal; text-align: left; }

em { font-style: italic; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0pt none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0pt;
	outline-color: invert;
	outline-style: none;
	outline-width: 0pt;
	padding: 0pt;
	vertical-align: baseline;
}

strong { font-weight: bold; }

table { border-collapse: separate; border-spacing: 0pt; }

form { margin: 0; padding: 0; }

form label { cursor: pointer; }

/* CLEARFIX FOR BOXMODEL */

.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* Firefox Scrollbar Hack*/
html {
	margin-bottom: 1px;
	height: 100%!important;
	height: auto;
}


a { text-decoration: none; color: #666;}

a:hover {
	cursor: pointer; 
}

body {
	font-family: Georgia, "Trebuchet MS", Helvetica, sans-serif;
	font-size: 62.5%;
	color: #666666;
}

#mainwrap {
	font-size: 1.2em;
	line-height: 160%;
	min-height: 100%;
	position: relative;

}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	color: #999;
}

h1 { font-size: 3em; }

h1, h2, h3, h4, h5, p, ul { margin: 10px 0; }

h2 { font-size: 2.4em; }

h3 { font-size: 1.8em; }

h4 { font-size: 1.4em; text-transform: uppercase; }

ul li { margin-left: 15px; margin-bottom: 5px; }

.button {
	padding: 2px 8px;
	border: 1px solid #47210C;
	background: url(../images/but-bg.gif) repeat-x center #4F2F1D;
	font-variant: small-caps;
	color: #F8B150;
}

.clr { clear: both; }

.inputbox {
	border: 1px solid #47210C;
	padding: 3px 2px;
	background: #8A5C2B;
}

#footer_terms {
width: 90%; bottom: 0px; left: 0px; position: absolute; height: 40px; 
}

#footer_terms h1 {
	padding: 60px 0px 0px 0px; color: #c6c6c6;
	text-align:right;
	border:0px;
	font-variant:normal;font-size: 0.9em;font-weight: normal;
	text-decoration:none;background: none;
}

#footer_terms a  { text-decoration: underline;}

#footer_terms strong,#footer_terms a {
	color: #c6c6c6;
	font-weight: normal;
	background: none;
}



#resol {
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:fixed;
	font-size: 10px;
	width:230px;
	top:0px;
	left:1280px;
	margin:0 auto;
	background:#bfc6d9;
	text-align:center;
} 

#resol h1 {
	background:none;
	font-size: 15px;
	letter-spacing:3px;
	padding:0px;
	margin:0px;
	border: 0px;
} 

#resol h2 {
	font-size:10px;
	letter-spacing:3px;
	padding:0px;
	margin:0px;
	border:0px;
	background:none;
}

